/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 1 Weekly Challenge - Website Accessibility Refactor
Created 2023/07/08
Last Edited 2023/07/08    
*/

/* sets all elements to have a padding & margin of 0 pixels, and to include padding & border in element size*/
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background colour for page content */
body
{
    background-color: #d9dcd6;
}

/* sets font, spacing, background colour, and text colour of header content */
.header
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* displays primary header 'Horiseon' as an in-line block element with font size 48 */
.header h1
{
    display: inline-block;
    font-size: 48px;
}

/* changes the 'seo' in title 'Horiseon' to a different colour */
.header h1 .seo
{
    color: #d9dcd6;
}

/* sets font, spacing, text size, and location of secondary headers (website sections) */
.header div
{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* defines list style type for unordered lists in the header (of which none exist?) */
.header div ul
{
    list-style-type: none;
}

/* sets secondary headers (website sections) to be displayed as in-line blocks*/
.header div ul li
{
    display: inline-block;
    margin-left: 25px;
}

/* sets colour and appearance of links */
a
{
    color: #ffffff;
    text-decoration: none;
}

/* sets standard text font size */
p
{
    font-size: 16px;
}

/* defines details for a section containing a marketing meeting image */
.marketing-meeting-image
{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* elements assigned to this class will appear to the left of their associated section */
.float-left
{
    float: left;
    margin-right: 25px;
}

/* elements assigned to this class will appear to the right of their associated section */
.float-right
{
    float: right;
    margin-left: 25px;
}

/* defines display settings for the three main website sections CHANGE THIS NAME */
.content
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* defines display settings for content within the benefits section */
.benefits
{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
} 

/* defines display settings for content in benefits section (COMBINE THIS ALL WITH ABOVE?) */
.benefit-lead
{
    margin-bottom: 32px;
    color: #ffffff;
}

/* COMBINE THIS WITH ABOVE */
.benefit-brand
{
    margin-bottom: 32px;
    color: #ffffff;
}

/* COMBINE THIS WITH ABOVE */
.benefit-cost
{
    margin-bottom: 32px;
    color: #ffffff;
}

/* defines display settings for benefits section h3 headers */
.benefit-lead h3
{
    margin-bottom: 10px;
    text-align: center;
}

/* COMBINE WITH ABOVE */
.benefit-brand h3
{
    margin-bottom: 10px;
    text-align: center;
}

/* COMBINE WITH ABOVE */
.benefit-cost h3
{
    margin-bottom: 10px;
    text-align: center;
}

/* defines display settings for benefits section images */
.benefit-lead img
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* COMBINE WITH ABOVE */
.benefit-brand img
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* COMBINE WITH ABOVE */
.benefit-cost img
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines display settings for content within the three main website sections */
.search-engine-optimization
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* COMBINE WITH ABOVE */
.online-reputation-management
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* COMBINE WITH ABOVE */
.social-media-marketing
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* defines display settings for images within the three main website sections */
.search-engine-optimization img
{
    max-height: 200px;
}

/* COMBINE WITH ABOVE */
.online-reputation-management img
{
    max-height: 200px;
}

/* COMBINE WITH ABOVE */
.social-media-marketing img
{
    max-height: 200px;
}

/* defines display settings for h2 headers in three main website sections */
.search-engine-optimization h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* COMBINE WITH ABOVE */
.online-reputation-management h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* COMBINE WITH ABOVE */
.social-media-marketing h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* defines display settings for footer content */
.footer
{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* defines display size for h2 headers in footer */
.footer h2
{
    font-size: 20px;
}
